# Rimuove gli errori StyleCop specifici
[*.cs]

# ----------------------------------------
# StyleCop.Analyzers: Regole Disattivate
# ----------------------------------------

# SA1633: File header is missing or not located at the top of the file
dotnet_diagnostic.SA1633.severity = none

# SA1200: Using directive should appear within a namespace declaration
dotnet_diagnostic.SA1200.severity = none

# SA1513: Closing brace should be followed by blank line
dotnet_diagnostic.SA1513.severity = none

# SA1516: Elements Must Be Separated By Blank Line
dotnet_diagnostic.SA1516.severity = none

# SA1310: A field name in C# contains an underscore
dotnet_diagnostic.SA1310.severity = none

# SA1311: The name of a static readonly field does not begin with an upper-case letter
dotnet_diagnostic.SA1311.severity = none

# SA1413: The last statement in a multi-line C# initializer or list is missing a trailing comma
dotnet_diagnostic.SA1413.severity = none